.menu {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    z-index: 0;
}

@media only screen and (max-width: 600px) {
    .menu {
        position: absolute;
        width: 80vw !important;
        top: auto;
        left: 10vw !important;
        margin-top: 5vh;
        padding: 5px;
        z-index: 0;
    }
}

.menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    background: var(--4959-theme-glass);
    backdrop-filter: blur(15px);
    border-radius: var(--4959-theme-radius);
    border: var(--4959-theme-border) solid var(--4959-theme-foreground);
    z-index: -1;
    box-shadow: #00000066 0 0 10px;
}

.menu-title {
    padding: 0 5px 5px 5px;
    color: var(--4959-theme-font-secondary);
    font-size: 0.75rem;
    display: block;
    font-weight: bold;
}

.option {
    margin: 0;
    border: none;
    background: none;
    text-align: left;
    padding: 8px 10px;
    display: inline-block;
    font-size: 13px;
}

.menu > * {
    width: 100%;
    display: block !important;
    min-width: 200px;
}

.menu > input {
    margin: 0 0 0 10px;
}

.option > svg {
    height: 0.6rem;
    float: right;
    padding: 0.2rem 0;
}