@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
  --4959-theme-background: #161616;
  --4959-theme-foreground: #ffffff06;
  --4959-theme-glass: #0d0d0d;
  --4959-theme-font-primary: #ffffff;
  --4959-theme-font-secondary: #aaaaaa;
  --4959-theme-border: 0px;
  --4959-theme-radius: 12px;
  --4959-theme-sizing: 5px;
  --4959-theme-primary: #006633;
  --4959-theme-secondary: #005522;
  --4959-theme-r: #ff3939;
  --4959-theme-b: #3b53ff;
  --4959-theme-n: #aaaaaa;
  --4959-theme-cone: #ffff39;
  --4959-theme-cube: #a739ff;
  --4959-theme-charge: #00cfff;
}

@media only screen and (max-width: 600px) {

  :root {
    --4959-theme-radius: 16px;
    --4959-theme-sizing: 8px;
  }

}

@supports (backdrop-filter: blur()) {
  :root{
    --4959-theme-glass: #161616aa;
  }
}

* {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  background: var(--4959-theme-background);
}

a {
  text-decoration: none !important;
}

svg {
  height: 1em;
  margin: 5px;
  vertical-align: middle;
  display: block;
}

input {
  margin: 5px 10px;
  padding: var(--4959-theme-sizing);
  border: var(--4959-theme-border) solid #3d3d3d;
  background: var(--4959-theme-foreground);
  border-radius: var(--4959-theme-radius);
  vertical-align: inherit;
}

input:focus {
  -moz-outline-radius: calc(var(--4959-theme-radius) + 2px);
  outline: 2px solid #005522;
}


input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
  width: 4em;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button, .button-like {
  font-size: 13px;
  display: inline-block;
  padding: var(--4959-theme-sizing) 10px;
  background: none;
  border: var(--4959-theme-border) solid #3d3d3d;
  border-radius: var(--4959-theme-radius);
  margin: 10px 5px;
  font-family: inherit;
  transition: background-color 100ms;
}

button:focus, .button-like:focus {
  outline: 0 solid var(--4959-theme-primary);
  outline-offset: 1px;
}

button:hover, .button-like:hover {
  background: var(--4959-theme-foreground) !important;
}

button.highlighted {
  background: #006633;
  border: var(--4959-theme-border) solid #007744;
}

button.highlighted:hover {
  background: #005522;
  border: var(--4959-theme-border) solid #006633;
}

button > svg {
  display: inline-block;
  fill: #ffffff;
  vertical-align: -10%;
  margin: 0;
  transition: all 100ms;
}

button > .indicator, .button-like > .indicator {
  margin-left: 0;
}

.card {
  padding: 10px 15px;
  border-radius: calc(var(--4959-theme-radius) * 2);
  margin: 10px 0;
  flex-wrap: wrap;
  transition: background-color 100ms;
}

.card:hover {
  background: var(--4959-theme-foreground);
}

.heading {
  font-weight: bold;
  display: block;
  font-size: 1.5em;
}

.subheading {
  font-weight: normal;
  display: block;
  font-size: 1em;
  color: #888888;
}

.section {
  margin: 5px 0;
}

.section-heading {
  font-weight: bold;
  display: block;
  font-size: 1.25em;
}

.indicator {
  padding: 0.25rem;
  background: var(--4959-theme-primary);
  border-radius: 0.25rem;
  display: inline-block;
  margin: 0.25rem;
  vertical-align: top;
}

.indicator-descriptive {
  padding: 0.125rem 0.25rem;
  background: var(--4959-theme-primary);
  border-radius: 0.25rem;
  color: var(--4959-theme-background);
  font-weight: bold;
  font-size: 0.75em;
  display: inline-block;
  margin: 0 0.25rem;
  vertical-align: top;
}

.indicator-descriptive > svg {
  height: 0.75em;
  fill: var(--4959-theme-background);
  margin: 0.25em 5px 0.25em 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}